@font-face {
    font-family: 'Geometria';
    src: url(../fonts/Geometria/geometria_medium.otf);
}
@font-face {
    font-family: 'Lack_Line';
    src: url(../fonts/Lack-Line-Regular.otf);
}
@font-face {
    font-family: 'SFNS';
    src: url(../fonts/SFNS.ttf);
}


