<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" href="{{ url_for('static', filename='img/icon/favicon.png')}}" href="" rel="shortcut icon">
    <link type="text/css" href="{{ url_for('static', filename='css/const.css')}}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <title>Опаньки :(</title>
</head>
<body>
    <h1>Страница недоступна :(</h1>
    <div class="round_containers">
        <p>Страница, которую Вы ищите, не существует.</p>
        <p>Перейти на <a class="link_a" href="{{ url_for('login') }}"> главную</a>.</p>
    </div>

</body>
</html>