{% extends 'main.html' %}

{% block main %} {% endblock %}

{% block navigation %}
<a class="underline-style" href="/transactions">Транзакции</a>
<a class="underline-style" href="/assets">Активы</a>
{% endblock %}

{% block content %}
<div id="content" class="content-container">
    <div class="about-bond-container">
        <a href="/assets/bonds" class="back-button">< Назад</a>

        <div class="head-bond-info">
            <div class="bond-name">
                <h2>{{ info_about_bond[0]["name"] }}</h2>
                <p class="hitting-text">{{ info_about_bond[0]["ticker"] }}</p>
            </div>

            <div class="portfolio-indicators">
                <div>
                    <p>{{ info_about_bond[0]["total_invested"][0] }}</p>
                    <span>{{ info_about_bond[0]["total_invested"][1] }}</span>
                </div>
                <div>
                    <p>Доля в портфеле</p>
                    <span>{{ info_about_bond[0]["share_in_portfolio"] }}</span>
                </div>
            </div>

        </div>

        <section>
            <div class="bond-info-container">
                <h3>О выпуске</h3>
                {% for key in info_about_bond[1] %}
                    <div>
                        <p>{{ info_about_bond[1][key][0] }}</p>
                        <p>{{ info_about_bond[1][key][1] }}</p>
                    </div>
                {% endfor %}
                
            </div>

            <div class="bond-info-container">
                <h3>Показатели</h3>
                {% for key in info_about_bond[2] %}
                    <div>
                        <p>{{ info_about_bond[2][key][0] }}</p>
                        <p>{{ info_about_bond[2][key][1] }}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="bond-info-container">
                <h3>В портфеле</h3>
                {% for key in info_about_bond[3] %}
                    <div>
                        <p>{{ info_about_bond[3][key][0] }}</p>
                        <p>{{ info_about_bond[3][key][1] }}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="bond-info-container">
                <h3>Статистика</h3>
                <div>
                    <p>Доход</p>
                    <p>-</p>
                </div>
            </div>

        </section>

    </div>
</div>

{% endblock %}
