{% extends 'main.html' %}

{% block main %} {% endblock %}

{% block navigation %}
<a class="underline-style" href="/transactions">Транзакции</a>
<a class="underline-style" href="/assets">Активы</a>
{% endblock %}

{% block content %}
<div id="content" class="content-container">
    <div class="container-assets">
        <!-- Контейнер слева для вкладов и накопительных счетов -->
        <div class="container-assets-left">

            <div>
                <h2>Вклады</h2>

                <a class="links-to-inside" href="#">
                    <section>
                        <p>50 000 $</p>
                        <span>на 6 месяцев</span>
                    </section>
                    <section>
                        <p>10% годовых</p>
                        <span>до 17 августа, 2034</span>
                    </section>
                </a>

                <section class="button-add-section">
                    <a href="#" class="entry">Добавить новый</a>
                </section>

            </div>

            <div>
                <h2>Накопительные счета</h2>

                <a class="links-to-inside" href="#">
                    <section>
                        <p>3 758 $</p>
                        <span>Накопительный</span>
                    </section>
                    <section>
                        <p>3% годовых</p>
                        <span>с ежемесячной капитализацией</span>
                    </section>
                </a>

                <section class="button-add-section">
                    <a href="#" class="entry">Добавить новый</a>
                </section>
            </div>

        </div>
        
        <div class="container-assets-right">
            <h2>Облигации</h2>

            <div class="container-assets-info">

                <div class="container-assets-info-left">
                    <section>
                        {% for key in bonds_assets[0] %}
                            <h2>{{ key }}</h2>
                            <h3>{{ bonds_assets[0][key] }}</h3>
                        {% endfor %}
                        <hr>
                        {% for key in bonds_assets[1] %}
                            <h2>{{ key }}</h2>
                            <p>{{ bonds_assets[1][key][0] }}</p>
                            <p>{{ bonds_assets[1][key][1] }}</p>
                        {% endfor %}
                        <hr>
                        <h2>Доход</h2>
                        <p>{{ take_profit }}</p>
                        <a href="/assets/bonds" class="entry">Открыть</a>
                    </section>
                </div>

                <div class="container-assets-info-right">
                    <section>
                        <h2>Скринер</h2>
                        <span>Отбирайте облигации по точным показателям, сравнивайте и находите нужные вам</span>
                        <a href="#" class="entry">Создать скринер</a>
                        <a href="#" class="entry">Посмотреть готовые</a>
                    </section>
                    <section>
                        <h2>Что это</h2>
                        <span>О том, что такое облигации, какими они бывают и на что обратить внимание при выборе</span>
                        <a href="/assets/what-are-bonds" class="entry">Перейти</a>
                    </section>
                </div>


            </div>

        </div>
        </div>
    </div>
{% endblock %}