{% extends 'main.html' %}

{% block main %} {% endblock %}

{% block navigation %}
<a class="underline-style" href="/transactions">Транзакции</a>
<a class="underline-style" href="/assets">Активы</a>
{% endblock %}

{% block content %}
<div id="content" class="content-container">
    
    <!-- Карточки слева -->
    <div class="cards-container-left">
        <!-- Портфель -->
        <div class="card-container left-cards blue">
            {% for key in bonds_frame[0] %}
                <h2>{{ key }}</h2>
                <span id="amount_portfolio">{{ bonds_frame[0][key] }}</span>
                <!-- <span>Погрешность вычислений ~0,6%</span> -->
            {% endfor %}
            <a href="/assets/bonds/analytics" class="entry">Аналитика</a>
        </div>
        <!-- Доходность -->
        <div class="card-container left-cards green">
            {% for key in bonds_frame[1] %}
                <h2>{{ key }}</h2>
                <span>{{ bonds_frame[1][key][0] }}</span>
                <span>{{ bonds_frame[1][key][1] }}</span>
            {% endfor %}
            <a href="/assets/bonds/statistics}}" class="entry">Посмотреть статистику</a>
        </div>
        <!-- Календарь -->
        <div class="card-container left-cards violet">
            {% for calendar in bonds_frame[2] %}
                <h2>{{ calendar }}</h2>
                {% set s = bonds_frame[2][calendar]|length %}
                    {% for i in range(s) %}
                    <hr>
                        <div class="calendar">
                            <p>{{ bonds_frame[2][calendar][i]['date'] }}</p>
                            <div>
                                <span>{{ bonds_frame[2][calendar][i]['name'] }}</span>
                                <span>{{ bonds_frame[2][calendar][i]['coupon'] }}</span>
                            </div>
                        </div>
                    {% endfor %}
            {% endfor %}
        </div>
    </div>

    <!-- Карточки справа -->
    <div class="cards-container-right">
        <div class="card-container right-cards gray">
            <h2>Облигации в портфеле</h2>

            {% for bond in range(bond_array| length) %}

            <div class="block-pills">
                <ol class="pills">
                    
                    <li class="under-pills-collapsible">
                        <div class="bond-in-portfolio">
                            <div>
                                <p>{{ bond_array[bond][2] }}</p>
                                <span>{{ bond_array[bond][5] }} шт. • {{bond_array[bond][4] }} ₽</span>
                            </div>
                            <div>
                                <p>{{ summary_price[bond] }} ₽</p>
                                <span>{{ profitability_per_year[0][bond] }} ₽ • {{ profitability_per_year[1][bond] }}%</span>
                            </div>
                            <div class="delete-button-container">
                                <a title="Удалить" href="/assets/bonds/delete/{{ bond_array[bond][0] }}">
                                    <img src="../static/img/icons/delete.png" alt="">
                                </a>
                            </div>
                        </div>
                    </li>
                    <!-- Вложенный текст -->
                    <div class="under-pills-content">
                        <div>
                            <span>Тикер</span>
                            <span>{{ bond_array[bond][1] }}</span>
                        </div>
                        <section class="data-taken-container">
                            <p>Данные взяты с <a target="_blank" href="https://www.moex.com/en/bondization">Московской Биржи</a>.</p>
                        </section>
                        {% for key_data_from_moex in bonds_frame[3] %}
                            {% set data_array = bonds_frame[3][key_data_from_moex][bond] %}
                            <div>
                                <span>{{ data_array['profitability'][0] }}</span>
                                <span>{{ data_array['profitability'][1] }}</span>
                            </div>
                            <div>
                                <span>{{ data_array['maturity_date'][0] }}</span>
                                <span>{{ data_array['maturity_date'][1] }}</span>
                            </div>
                            <div>
                                <span>{{ data_array['coupon_payment_date'][0] }}</span>
                                <span>{{ data_array['coupon_payment_date'][1] }}</span>
                            </div>
                            <div>
                                <span>{{ data_array['coupon'][0] }}</span>
                                <span>{{ data_array['coupon'][1] }}</span>
                            </div>
                        {% endfor %}
                        <a href="bonds/about/{{ bond_array[bond][1] }}" class="entry accent-btn">Перейти</a>
                        <section class="buy-sell-container">
                            <a href="#" class="btn-buy">Купить</a>
                            <a href="#" class="btn-sell">Продать</a>
                        </section>
                    </div>
                </ol>
            </div>
            <hr>
            {% endfor %}
            <button class="entry" id="btn_add_new_bond" onclick="displayContainer()">Добавить новую</button>
        </div>
    </div>

</div>

<section class="add-new-bond-container" id="hidden_container">
    <form method="POST" class="add-new-bond">
        <div>
            <input type="text" name="ticker" id="ticker" placeholder="Тикер">
            <input type="text" name="bond" id="name" placeholder="Название">
            <input type="number" name="nominal" id="" placeholder="Номинал">
            <input type="number" step="0.01" name="average_price" id="" placeholder="Цена">
            <input type="number" name="quantity" id="" placeholder="Кол-во">
            <input type="number" step="0.01" name="coupon_value" id="" placeholder="Купон">
            <input type="number" step="0.01" name="aci" id="" placeholder="НКД">
            <input type="number" name="number_of_payments_per_year" id="" placeholder="Вылат в год">
            <input type="number" name="total_payments" id="" placeholder="Выплат всего">
            <input type="text" name="date_of_purchase" id="" placeholder="Дата покупки">
        </div>
        <div class="buttons-container">
            <input type="submit" value="Добавить"></input>
            <input type="button" value="Отмена" onclick="displayContainer()"></input>
        </div>
    </form>
</section>

<!-- Скрипт открывает скрытый контент PILLS по клику -->
<script>
    let coll = document.getElementsByClassName('under-pills-collapsible');
    for (let i = 0; i < coll.length; i++) {
        coll[i].addEventListener('click', function() {
            this.classList.toggle('active');
            let content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
                content.style.opacity = null;
            } else {
                content.style.maxHeight = content.scrollHeight + 'px';
                content.style.opacity = 1;
            }
        })
    }
</script>

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
    function confirmDeleteBond() {
        content = document.getElementById("confirm-delete-bond-container");
        if (content.style.display == "block") {
            document.getElementById("confirm-delete-bond-container").style.display = "none";
        }
        else {
            document.getElementById("confirm-delete-bond-container").style.display = "block";
        }
    };
    function displayContainer() {
        window.onload = () => document.querySelector('section').classList.remove('hidden_container');
        let container = document.getElementById("hidden_container");
        let content = document.getElementById("content");
        let cnt = 0;
        if (container.style.display == "block") {
            container.style.display = "none";
            container.style.opacity = "0";
            content.style.opacity = "1";
            content.style.position = "static";
        } 
        else {
            container.style.display = "block";
            container.style.opacity = "1";
            content.style.position = "absolute";
            content.style.opacity = "0";
        }
        window.scrollTo(0, -2000)
    }
</script>
{% endblock %}
