{% extends 'main.html' %}

{% block main %} {% endblock %}

{% block navigation %}
<a class="underline-style" href="/licence">Лицензия</a>
<a class="underline-style" href="/bonds">Облигации</a>
{% endblock %}

{% block content %}
<div class="what-is-bond-container">
    <div class="what-is-bond-container-head-info">
        <img src="../static/img/what-are-bonds.png" alt="">
        <div>
            {% for heading, paragraph in what_are_bonds_text.items() %}
                <h2>{{ heading }}</h2>
                {% for i in range(paragraph | length) %}
                    <p>{{ paragraph[i] }}</p><br>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="what-is-bond-container-other-information">
        {% for key in texts %}
        <div>
            <h2>{{ key }}</h2>
            {% for p in texts[key] %}
                <p>{{ p }}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="what-is-bond-container-resume">
        {% for key in resume %}
            <h2>{{ key }}</h2>
            {% for p in resume[key] %}
                <p>{{ p }}</p>
            {% endfor %}
        {% endfor %}
    </div>

</div>
{% endblock %} 
